Comparative Analysis for prediction of STI

Importing data

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_excel('/content/STIData (1).xls')
data.head()

,IdNumber,CaseStatus,Date,A1Age,A2Occupation,A3Church,A4LevelOfEducation,A5MaritalStatus,Weight,Height,...,Unemployed,Education,AlcoholUse,SexPartner1year,SexPartner3month,LastPartnerSpouse,Belong,ReceiveHelp,SexPartnerLife3,Sex.1
0,32,2,2009-12-03,23,1 unemployed,5 pentecostal,3 secondary,2 married,61.0,182.0,...,1.0,2,2.0,0,0,1,1,1,0,Female
1,33,1,2009-12-03,24,4 student,2 apostolic,3 secondary,2 married,53.0,166.0,...,NaN,2,1.0,0,0,1,0,0,0,Female
2,34,2,2009-12-03,24,1 unemployed,2 apostolic,3 secondary,2 married,91.4,166.0,...,1.0,2,1.0,0,0,1,1,1,0,Female
3,35,1,2009-12-03,33,3 formal,7 roman catholic,3 secondary,2 married,100.0,166.0,...,2.0,2,2.0,0,0,1,1,1,0,Female
4,10,2,2009-12-03,63,4 student,8 other,2 primary,2 married,83.0,156.0,...,NaN,1,2.0,0,0,1,1,1,0,Male

Checking the missing values

In [ ]:
data.isnull().sum()

IdNumber                  0
CaseStatus                0
Date                      0
A1Age                     0
A2Occupation              0
A3Church                  0
A4LevelOfEducation        0
A5MaritalStatus           0
Weight                    0
Height                    1
C3StiYesno               64
D1BurialSociety           0
D1religiousgrp            0
D1savingsClub             1
D1tradersAssoc            0
D2Group1                 65
D2Group2                142
D3Education              64
D3FuneralAssistance      64
D3HealthServices         63
DurationOfillness        86
E8WhyhaveSTI             89
N10givereceiveforsex      0
N11Usedcondom             0
N12UseCondom              0
N13TakenAlcohol           0
N14DoYouHave              0
N15LivingTogether        35
N16HowOldIs              35
D3receivecredit          64
Typeofsti               113
N2SexDebut                6
N3HadAnSti                2
N9Relationship            0
Sex                       2
AgeFirstSex               6
HabitationStatus          0
Unemployed               14
Education                 0
AlcoholUse                2
SexPartner1year           0
SexPartner3month          0
LastPartnerSpouse         0
Belong                    0
ReceiveHelp               0
SexPartnerLife3           0
Sex.1                     1
dtype: int64

Imputing data

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

Selecting numerical columns for imputation

In [ ]:
# Getting numerical columns
numerical_columns = data.select_dtypes(include=[np.number]).columns.tolist()
# Select only numerical columns
data_num = data[numerical_columns]

Applying IterativeImputer to the numerical dataframe

In [ ]:
imputer = IterativeImputer(max_iter=10, random_state=0,imputation_order='roman' )
data_imputed = imputer.fit_transform(data_num)

 Creating new dataframe with imputed values and original column names

In [ ]:
data1= pd.DataFrame(data_imputed, columns=data_num.columns)

Merging imputed dataframe with the original non-numerical columns

In [ ]:
data_final = pd.concat([data.drop(numerical_columns, axis=1), data1], axis=1)

In [ ]:
## No missing values
data1.isnull().sum()

IdNumber               0
CaseStatus             0
A1Age                  0
Weight                 0
Height                 0
C3StiYesno             0
D1BurialSociety        0
D1religiousgrp         0
D1savingsClub          0
D1tradersAssoc         0
D3Education            0
D3FuneralAssistance    0
D3HealthServices       0
DurationOfillness      0
N14DoYouHave           0
N15LivingTogether      0
N16HowOldIs            0
D3receivecredit        0
N2SexDebut             0
N3HadAnSti             0
HabitationStatus       0
Unemployed             0
Education              0
AlcoholUse             0
SexPartner1year        0
SexPartner3month       0
LastPartnerSpouse      0
Belong                 0
ReceiveHelp            0
SexPartnerLife3        0
dtype: int64

In [ ]:
# Checking for Duplicates and dropping them
print("Checking for duplicates...")
duplicate_count = data1.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

if duplicate_count > 0:
    data1 = data1.drop_duplicates()
    print(f"Dropped {duplicate_count} duplicate rows. New shape: {data1.shape}")
else:
    print("No duplicates found.")

Checking for duplicates...
Number of duplicate rows: 0
No duplicates found.

In [ ]:
# Checking for inconsistencies and correcting
print("Checking for inconsistencies...")
for column in data1.columns:
    unique_values = data1[column].unique()
    print(f"Column: {column}")
    print(f"Unique values: {unique_values}")

Checking for inconsistencies...
Column: IdNumber
Unique values: [ 32.  33.  34.  35.  10.  11.  12.  13.  14.  15.  16.  17.  18.  19.
   6.   7.   8.   9.  20.  21.  22.  23.  24.  25.  26.  27.  28.  29.
  30.  31.  36.  37.  38.  39.  40.  41.  42.  43.  44.  45.  46.  47.
  48.  49.  50.  51.  52.  53.  54.  55.  85.  86.  87.  88.  89.  90.
  91.  92.  93.  94.  95.  96.  97.  98.  99. 100. 101. 102. 103. 104.
 105. 106. 107. 108. 109. 110. 111. 112. 113. 114. 115. 116. 117. 118.
 119. 120. 121. 122. 123. 124. 125. 126. 127. 128. 129. 130. 131. 132.
 133. 134. 135. 136. 137. 138. 139. 140. 141. 142. 143. 144. 145. 146.
 147. 148. 149. 150. 151. 152. 153. 154. 155. 156. 157. 158. 159. 160.
 161. 162.   1.   2.   3.   4.   5.  56.  57.  58.  59.  60.  61.  62.
  63.  64.  65.  66.  67.  68.  69.  70.  71.  72.  73.  74.  75.  76.
  77.  78.  79.  80.  81.  82.  83.  84. 163. 164. 165. 166. 167. 168.
 169. 170. 171. 172. 173. 174. 175. 176. 177. 178. 179. 180. 181. 182.
 183. 184. 185. 186. 187. 188. 189. 190. 191. 192. 193. 194. 195. 196.
 197. 198. 199. 200. 201. 202. 203. 204. 205. 206. 207. 208. 209. 210.
 211. 212. 213. 214. 215. 216. 217. 218. 219. 220. 221. 222. 223. 224.
 225. 226.]
Column: CaseStatus
Unique values: [2. 1. 3.]
Column: A1Age
Unique values: [23. 24. 33. 63. 22. 19. 29. 21. 26. 25. 30. 36. 31. 48. 43. 16. 32. 27.
 28. 20. 38. 45. 42. 34. 39. 35. 41. 37. 40. 18. 46. 50. 44. 17.]
Column: Weight
Unique values: [ 61.   53.   91.4 100.   83.   74.5  94.   82.   38.   73.5  46.   49.5
  62.   75.   74.   74.7  66.   54.   63.   59.5  70.   47.5  68.   66.5
  65.   49.6  71.   51.   55.   42.   45.4  60.   58.   45.   49.   60.5
  69.   50.5  40.   57.   95.5  48.   62.5  48.5  41.   39.5  43.   52.
  39.   47.   65.4  72.   41.5  53.5  44.4  43.5  45.2  59.   41.4  44.
  56.4  48.8  50.   44.5  63.5  70.5  33.   51.7  50.4  36.   56.   58.5
  42.5  35.   45.5  32.8  44.9  54.9  64.   54.5  43.8  57.3  52.5  42.9
  50.2  47.3]
Column: Height
Unique values: [182.         166.         156.         154.         170.
 158.         168.         160.         150.         159.
 164.         171.         163.         155.         175.
 161.         157.         167.         162.         165.
 143.         180.         145.         149.         148.
 146.         191.         176.         153.         152.
 177.         151.         138.         169.         174.
 173.         147.         162.22268763 172.        ]
Column: C3StiYesno
Unique values: [0.17626363 0.         0.1551417  0.1864388  0.19739384 1.
 0.15288367 0.17131658 0.0882995  0.18552809 0.12249548 0.16503493
 0.15216612 0.13991106 0.15921201 0.14882557 0.22674098 0.16468148
 0.12641933 0.15296318 0.12809328 0.13539598 0.1617729  0.14909514
 0.17571484 0.13111814 0.15207718 0.12425498 0.1673865  0.16087492
 0.12588925 0.1665488  0.12640742 0.12560579 0.16376457 0.13876165
 0.13941357 0.10180178 0.14912543 0.14488157 0.1693552  0.15426991
 0.13717168 0.12932375 0.1312281  0.16080432 0.15953664 0.13983
 0.14495045 0.14192357 0.16758862 0.13331448 0.11724764 0.11282697
 0.14291349 0.16562468 0.22528885 0.11254955 0.12434559 0.10563495
 0.09034826 0.10015071 0.18450057 0.14665028 0.11274668 0.22356007]
Column: D1BurialSociety
Unique values: [2. 1.]
Column: D1religiousgrp
Unique values: [1. 2.]
Column: D1savingsClub
Unique values: [2.         1.         1.88448027]
Column: D1tradersAssoc
Unique values: [2. 1.]
Column: D3Education
Unique values: [2.         1.84045246 1.7897011  1.69061004 1.         1.96378002
 1.73154801 1.78527708 1.84011561 1.74151841 1.94075394 1.8903966
 1.63774299 1.85317411 1.78283625 1.91611474 1.82941381 1.96973375
 1.93220222 1.85765637 1.81524372 1.96634529 1.88301623 1.91179235
 1.92762351 1.81349423 1.91090664 1.89043673 1.95163566 1.87947579
 1.8125812  1.90440715 2.07826314 1.91362334 1.92628713 1.82306851
 1.99084217 1.84960698 1.96048342 1.78108489 1.92315551 1.71991703
 1.83134817 1.79840547 1.80810857 1.92511842 1.97681191 1.87049593
 1.92065471 1.94802446 2.02877887 1.90009249 2.04823509 2.0085303
 1.95917965 2.04012767 1.86769906 1.96170691 1.91896959 1.83575337
 1.92325377 1.90586605 1.75644335 1.89024279 1.96909923 1.96568843]
Column: D3FuneralAssistance
Unique values: [1.         1.93184743 1.87073032 1.86855159 1.79156368 1.94176044
 1.85738744 1.99532839 1.88673906 2.         1.94016221 1.91623196
 1.90691857 1.83880888 1.89441278 1.9162019  1.80568496 1.78765847
 1.87852784 1.92598375 2.000945   1.88686843 1.83755909 1.86851069
 1.80436413 1.98235812 1.87661838 1.93124893 2.02319862 1.93705933
 1.92187566 1.88002836 1.84423477 1.94677966 1.95092874 1.85415331
 1.93439543 1.92884597 1.91317333 2.14562892 1.94637608 1.95652512
 1.84474793 1.9813813  2.02570043 1.89015265 2.00723203 1.96346438
 1.88324515 1.85694869 1.93464659 2.14215196 1.97437938 1.93957236
 1.90544922 1.87595745 1.92616901 1.97231115 1.93933302 1.94495506
 2.01829745 1.8869158  2.19611598 2.04780791 1.9124401  1.90464675]
Column: D3HealthServices
Unique values: [2.         1.71184766 1.         1.78633271 1.675355   1.72939065
 1.80532053 2.08143472 1.85703007 1.90205418 1.90353806 1.6506535
 1.85135469 1.8018858  1.77965327 1.85784444 1.89029053 1.89806167
 1.75227626 1.67852787 1.69838289 1.79256475 1.83159301 1.75640371
 1.63027169 1.8024232  1.82304743 1.90332098 1.76892858 1.65979404
 1.77870017 1.89694552 1.78677754 1.85341442 1.78238075 1.90414582
 1.89795571 1.85157786 1.89596599 1.8321459  1.6644945  1.7586553
 1.74040684 1.82925411 1.8348074  1.95553531 1.85205234 1.80010331
 1.81116601 1.9705673  1.85754378 1.94118811 1.90158252 1.81958726
 1.833267   1.85860496 1.78456567 1.92916944 1.75016273 1.85745857
 1.67422481 1.82850066 1.6176561  1.97152641 1.87801529]
Column: DurationOfillness
Unique values: [ 21.37394845   7.          21.34561159  21.          21.57734497
   4.          21.53413311  30.          21.56926585   3.
  21.55324462  21.51866483  21.61191025  21.58971634  21.49194678
  21.48144706  21.48699903  21.41920826   5.          21.40831838
  21.40060975  21.34856088  21.34660849   1.          21.29616301
  21.31843946   8.          21.29114829  21.2395533   14.
  21.24790357 365.          21.21882141  60.          21.21028708
   6.          21.16544806   2.          20.87966323  20.85479074
  20.83837434  20.81243548  20.82240385  20.75929767  20.74184714
  20.76334287  20.74455594  90.          20.69591628  20.70498705
  20.68259525  20.6411489   10.          20.65026219 120.
  20.62064349  20.57476621  20.5512777   20.55748037  20.53336895
  20.52033016  20.48651327  20.47077566  20.47256733  20.43681002
  20.41269499  20.39113339  20.40200786  20.35982247  20.34175383
  20.33391289  20.31670227  20.27932518  20.29021789  20.2301423
  20.26469489  20.22536315  20.20321946  20.16439918  20.13658752
  21.69577162  21.66394774  21.15355251  21.15474317  21.11655981
  21.11706763  21.08103063   9.          21.0659698   21.07066562
 140.          21.0275603   21.01475572  28.          20.97993643
  20.98017777  20.95570577  20.93462809  20.93718311  20.91563134
  20.16001281  20.14020957  20.06946665  20.01015635  19.85679743
 150.        ]
Column: N14DoYouHave
Unique values: [1. 2.]
Column: N15LivingTogether
Unique values: [2.         1.47599676 1.         1.4477339  1.44398795 1.48707423
 1.48906472 1.46069927 1.49232946 1.53073948 1.56975523 1.54754124
 1.54382669 1.54629352 1.54694189 1.57900948 1.56211104 1.55784289
 1.59611396 1.60303925 1.49682543 1.51688217 1.52302128 1.5898416
 1.59032462 1.6059351  1.61318747 1.61896206 1.61788563 1.63807976
 1.6268402  1.63650755 1.64842439 1.62728302 1.63433743 1.63167469
 1.49147142]
Column: N16HowOldIs
Unique values: [27.         30.         39.         57.         20.         19.
 16.         22.11099674 23.         17.         24.60773122 21.
 26.         36.         28.51589851 32.         48.         22.42396779
 24.         46.         33.         29.         31.         28.
 22.         33.54612854 25.         21.41761132 40.         37.
 38.         34.         18.         24.90755951 21.59727902 26.39190904
 24.00624005 27.05997595 25.18216463 21.52465431 30.1156309  24.43363692
 19.45653848 27.00107691 21.13140016 45.         44.         43.
 49.         41.         30.22412376 25.81410056 25.86675376 18.22081236
 28.83307415 24.93354278 25.73661353 26.92522408 30.15491963 28.45690225
 23.64489764 45.50467466 26.89989117 54.         29.37646346 27.96479781
 29.51518598 22.57134761]
Column: D3receivecredit
Unique values: [2.         1.34707571 1.         1.29538508 1.32915339 1.2727622
 1.35283725 1.42141554 2.14398031 1.64194345 1.35478844 1.48524196
 1.59042797 1.62196114 1.41214875 1.37860907 1.64973552 1.46538968
 1.39933317 1.71509656 1.89147042 1.48569569 1.58203163 1.38217649
 1.33739071 1.59407883 1.54965717 1.7296711  1.78728997 1.62385269
 1.61111261 1.6311421  1.32082493 1.4373117  1.67044214 1.82068365
 1.51303153 1.49252455 1.39820685 1.57409692 1.48666294 1.68469487
 1.4456033  1.63126952 1.5546773  1.53410957 1.81533157 1.89989859
 1.51784721 1.7902407  1.67775834 1.61938294 1.93282321 1.68806019
 1.66593637 1.80826696 1.95962236 1.80915768 1.72624352 1.70235488
 1.63617858 1.69963891 1.77674064 1.72231094 1.835648   1.82826974]
Column: N2SexDebut
Unique values: [21.         19.         17.         20.70027253 20.         18.
 21.42572228 18.51703601 30.         22.         23.         26.
 16.         14.         28.         15.         25.         32.
 24.         19.4826117  12.         13.         20.97063512 17.29818944]
Column: N3HadAnSti
Unique values: [2.         1.         1.89830392 1.77864146]
Column: HabitationStatus
Unique values: [1. 2.]
Column: Unemployed
Unique values: [1.         1.53963996 2.         1.69106118 1.97852267 1.72680025
 1.71934695 1.8623796  1.1479128  1.68473137 1.48966233 1.68599943
 1.5099476  1.5461026  1.65830894 1.52597856]
Column: Education
Unique values: [2. 1.]
Column: AlcoholUse
Unique values: [2.         1.         1.73514077 1.78554439]
Column: SexPartner1year
Unique values: [0. 1.]
Column: SexPartner3month
Unique values: [0. 1.]
Column: LastPartnerSpouse
Unique values: [1. 0.]
Column: Belong
Unique values: [1. 0.]
Column: ReceiveHelp
Unique values: [1. 0.]
Column: SexPartnerLife3
Unique values: [0. 1.]

In [ ]:
#Correcting inconsistency
data1['CaseStatus'] = data1['CaseStatus'].replace(3, 2)
print("\nCorrected CaseStatus = 3 to CaseStatus = 2")
print(f"Unique values in CaseStatus after correction: {data1['CaseStatus'].unique()}")
print("\nValue counts in CaseStatus after correction:")
print(data1['CaseStatus'].value_counts(dropna=False))

Corrected CaseStatus = 3 to CaseStatus = 2
Unique values in CaseStatus after correction: [2. 1.]

Value counts in CaseStatus after correction:
CaseStatus
2.0    115
1.0    112
Name: count, dtype: int64

In [ ]:
#Converting CaseStatus from 1 and 2 to binary
if set(data1['CaseStatus'].dropna().unique()).issubset({1, 2}):
    print(f"\nUnique values in CaseStatus before binary conversion: {data1['CaseStatus'].unique()}")
    data1['CaseStatus'] = data1['CaseStatus'].map({1: 1, 2: 0})
    print(f"Converted CaseStatus from [1, 2] to [0, 1]")
    print(f"Unique values in CaseStatus after binary conversion: {data1['CaseStatus'].unique()}")
    print("\nValue counts in CaseStatus after binary conversion:")
    print(data1['CaseStatus'].value_counts(dropna=False))
else:
    print(f"\nCaseStatus still contains unexpected values: {data1['CaseStatus'].unique()}")

Unique values in CaseStatus before binary conversion: [2. 1.]
Converted CaseStatus from [1, 2] to [0, 1]
Unique values in CaseStatus after binary conversion: [0 1]

Value counts in CaseStatus after binary conversion:
CaseStatus
0    115
1    112
Name: count, dtype: int64

In [ ]:
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IdNumber             227 non-null    float64
 1   CaseStatus           227 non-null    int64
 2   A1Age                227 non-null    float64
 3   Weight               227 non-null    float64
 4   Height               227 non-null    float64
 5   C3StiYesno           227 non-null    float64
 6   D1BurialSociety      227 non-null    float64
 7   D1religiousgrp       227 non-null    float64
 8   D1savingsClub        227 non-null    float64
 9   D1tradersAssoc       227 non-null    float64
 10  D3Education          227 non-null    float64
 11  D3FuneralAssistance  227 non-null    float64
 12  D3HealthServices     227 non-null    float64
 13  DurationOfillness    227 non-null    float64
 14  N14DoYouHave         227 non-null    float64
 15  N15LivingTogether    227 non-null    float64
 16  N16HowOldIs          227 non-null    float64
 17  D3receivecredit      227 non-null    float64
 18  N2SexDebut           227 non-null    float64
 19  N3HadAnSti           227 non-null    float64
 20  HabitationStatus     227 non-null    float64
 21  Unemployed           227 non-null    float64
 22  Education            227 non-null    float64
 23  AlcoholUse           227 non-null    float64
 24  SexPartner1year      227 non-null    float64
 25  SexPartner3month     227 non-null    float64
 26  LastPartnerSpouse    227 non-null    float64
 27  Belong               227 non-null    float64
 28  ReceiveHelp          227 non-null    float64
 29  SexPartnerLife3      227 non-null    float64
dtypes: float64(29), int64(1)
memory usage: 53.3 KB
None

Stepwise logistic regression for variable selection

In [ ]:
## Defining Independent variables
IVs = [ "A1Age","C3StiYesno","D1BurialSociety","D1religiousgrp","D1savingsClub","D1tradersAssoc","D3Education",
       "D3FuneralAssistance","D3HealthServices","DurationOfillness","N14DoYouHave","N15LivingTogether",
        "D3receivecredit","N3HadAnSti","HabitationStatus","Unemployed","Education","AlcoholUse","SexPartner1year","SexPartner3month",
        "LastPartnerSpouse","Belong","ReceiveHelp","SexPartnerLife3"]
#Defining Independent and dependent variables
x = data1[IVs]
y = data1['CaseStatus']
## Adding a constant for intercept in logistic regression
import statsmodels.api as sm
x=sm.add_constant(x)
### Stepwise Regression
def stepwise_logistic_regression(X, y, threshold_in=0.05, threshold_out=0.10, verbose=True):

##Performing stepwise selection for logistic regression.
    selected_features = []
    remaining_features = list(X.columns)
    changed = True
    while changed:
        changed = False
        # Forward Step
        new_pvalues = pd.Series(dtype=float)
        for feature in remaining_features:
            model = sm.Logit(y, X[selected_features + [feature]]).fit(disp=False)
            new_pvalues[feature] = model.pvalues[feature]

        if not new_pvalues.empty:
            best_feature = new_pvalues.idxmin()
            if new_pvalues[best_feature] < threshold_in:
                selected_features.append(best_feature)
                remaining_features.remove(best_feature)
                changed = True
                if verbose:
                    print(f"Added {best_feature} (p-value: {new_pvalues[best_feature]:.4f})")

        #Backward step
        if len(selected_features) > 1:
            model = sm.Logit(y, X[selected_features]).fit(disp=False)
            pvalues = model.pvalues.iloc[1:]  # Exclude intercept
            worst_feature = pvalues.idxmax()

            if pvalues[worst_feature] > threshold_out:
                selected_features.remove(worst_feature)
                remaining_features.append(worst_feature)
                changed = True
                if verbose:
                    print(f"Removed {worst_feature} (p-value: {pvalues[worst_feature]:.4f})")

    return selected_features


selected_features = stepwise_logistic_regression(x, y)
print("\nFinal Selected Features:", selected_features)

final_model = sm.Logit(y, x[selected_features]).fit()
print(final_model.summary())

Added SexPartner1year (p-value: 0.0001)
Added N3HadAnSti (p-value: 0.0006)
Added N15LivingTogether (p-value: 0.0000)
Added D3FuneralAssistance (p-value: 0.0004)
Added Belong (p-value: 0.0123)
Added SexPartnerLife3 (p-value: 0.0281)

Final Selected Features: ['SexPartner1year', 'N3HadAnSti', 'N15LivingTogether', 'D3FuneralAssistance', 'Belong', 'SexPartnerLife3']
Optimization terminated successfully.
         Current function value: 0.519734
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:             CaseStatus   No. Observations:                  227
Model:                          Logit   Df Residuals:                      221
Method:                           MLE   Df Model:                            5
Date:                Sun, 03 Aug 2025   Pseudo R-squ.:                  0.2501
Time:                        17:08:25   Log-Likelihood:                -117.98
converged:                       True   LL-Null:                       -157.32
Covariance Type:            nonrobust   LLR p-value:                 1.577e-15
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
SexPartner1year         1.2118      0.437      2.772      0.006       0.355       2.069
N3HadAnSti             -3.1256      0.605     -5.165      0.000      -4.312      -1.940
N15LivingTogether       0.9018      0.340      2.656      0.008       0.236       1.567
D3FuneralAssistance     2.2487      0.613      3.669      0.000       1.048       3.450
Belong                  1.4569      0.585      2.492      0.013       0.311       2.603
SexPartnerLife3         0.7701      0.351      2.196      0.028       0.083       1.457
=======================================================================================

Comparing Models

In [ ]:
x[selected_features].isnull().sum()

SexPartner1year        0
N3HadAnSti             0
N15LivingTogether      0
D3FuneralAssistance    0
Belong                 0
SexPartnerLife3        0
dtype: int64

In [ ]:
# Seperating the data into dependent and independent
x = x[selected_features].values
y = data1['CaseStatus'].values

In [ ]:
import pandas as pd
# Import libraries and classes required
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

Splitting data into Training and Teting

In [ ]:
#splitting the dataset into the Training set and Test set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

Standardizing the data

In [ ]:
scaler = StandardScaler()
scaler.fit(x_train)

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

# summary of the predictions made by the classifier
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print('accuracy is', accuracy_score(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.62      0.86      0.72        21
           1       0.82      0.56      0.67        25

    accuracy                           0.70        46
   macro avg       0.72      0.71      0.69        46
weighted avg       0.73      0.70      0.69        46

[[18  3]
 [11 14]]
accuracy is 0.6956521739130435

Accuracy Score

In [ ]:
from sklearn.metrics import accuracy_score
print('accuracy is', (accuracy_score(y_pred,y_test)) * 100)

accuracy is 69.56521739130434

Support Vector Machine

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(x_train, y_train)

y_pred = classifier.predict(x_test)

# summary of the predictions made by the classifier
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print('accuracy is', (accuracy_score(y_pred,y_test)) * 100)

              precision    recall  f1-score   support

           0       0.62      0.86      0.72        21
           1       0.82      0.56      0.67        25

    accuracy                           0.70        46
   macro avg       0.72      0.71      0.69        46
weighted avg       0.73      0.70      0.69        46

[[18  3]
 [11 14]]
accuracy is 69.56521739130434

Bernoulli Naive Bayes

In [ ]:
from sklearn.naive_bayes import BernoulliNB
classifier = BernoulliNB()
classifier.fit(x_train, y_train)

y_pred = classifier.predict(x_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print('accuracy is', (accuracy_score(y_pred,y_test)) * 100)

              precision    recall  f1-score   support

           0       0.64      0.86      0.73        21
           1       0.83      0.60      0.70        25

    accuracy                           0.72        46
   macro avg       0.74      0.73      0.72        46
weighted avg       0.75      0.72      0.71        46

[[18  3]
 [10 15]]
accuracy is 71.73913043478261

Bernoulli Naive Bayes is the best model with 71.74% accuracy compared with other models which have 69.57% accuracy

K Nearest Neighbor

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(x_train, y_train)

y_pred = classifier.predict(x_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print('accuracy is', (accuracy_score(y_pred,y_test)) * 100)

              precision    recall  f1-score   support

           0       0.67      0.67      0.67        21
           1       0.72      0.72      0.72        25

    accuracy                           0.70        46
   macro avg       0.69      0.69      0.69        46
weighted avg       0.70      0.70      0.70        46

[[14  7]
 [ 7 18]]
accuracy is 69.56521739130434